    table, th, td {
        border: 1px solid Gray;
        border-collapse: collapse;
    }
    .tabela th, td {
        padding: 5px;
    }
    .tabela th {
        text-align: left Gray;
        background: gray;

    }
