{% extends "base.html" %}
{% block title %}
   {{block.super}}
{% endblock %}
{% block container %} 
	  <!-- CONTEUDO DO SITE -->
    <section class="mainContent">
        
        <div class="horarios">
            <article class="quadradinho">
                <h3>Segunda</h3>
                <p>DevOps</p>
                <p>DevOps</p>
                <p>DevOps</p>
                <p>DevOps</p>
            </article>
            <article class="quadradinho">
                <h3>Terça</h3>
                <p>Engenharia de Software</p>
                <p>Engenharia de Software</p>
                <p>Engenharia de Software</p>
                <p>Engenharia de Software</p>
            </article>
            <article class="quadradinho">
                <h3>Quarta</h3>
                <p>Linguagem Sql</p>
                <p>Linguagem Sql</p>
                <p>Linguagem Sql</p>
                <p>Linguagem Sql</p>
            </article>
            <article class="quadradinho">
                <h3>Quinta</h3>
                <p>TecWeb</p>
                <p>TecWeb</p>
                <p>TecWeb</p>
                <p>TecWeb</p>
            </article>
            <article class="quadradinho">
                <h3>Sexta</h3>
                <p>LP II</p>
                <p>LP II</p>
                <p>LP II</p>
                <p>LP II</p>
            </article>
        </div>
        
    </section>
    <!--FIM DO CONTEUDO -->
{% endblock %}