{% extends "base.html" %}
{% block title %}
   {{block.super}}
{% endblock %}
{% block container %}
	  <!-- CONTEUDO DO SITE -->
    <section class="mainContent">
      <div class="productRow">
		  
        <article  class="productInfo">
			<div><img class="imgcurso" alt="sample" src="static/images/adm.png"></div>
			<p class="desc">Graduação em Administração</p>
			<p class="productContent">Tornar-se um líder. Ser um empreendedor. Fazer investimentos. Você tem inúmeras possibilidades na graduação</p>
			<input type="button" name="button" value="Saiba Mais" class="Button">
        </article>
		  
        <article class="productInfo"> 
          <div><img class="imgcurso" alt="sample" src="static/images/ades.png"></div>
          <p class="desc">Graduação em Análise e Desenvolvimento de Sistemas </p>
          <p class="productContent">A FIT prepara você para atuar em todas as etapas de projetos de tecnologia da informação - concepção, gerência e manutenção, aplicação e mensuração de resultados.</p>
          <input type="button" name="button" value="Saiba Mais" class="Button">
        </article>
      
      </div>
		
      <div class="productRow"> 
        <article class="productInfo"> 
          <div><img class="imgcurso" alt="sample" src="static/images/rd.png"></div>
          <p class="desc">Graduação em Redes de Computadores </p>
          <p class="productContent">Fique preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.</p>
          <input type="button" name="button" value="Saiba Mais" class="Button">
        </article>
       
        <article class="productInfo">
          <div><img class="imgcurso" alt="sample" src="static/images/si.png"></div>
          <p class="desc">Graduação em Sistemas da Informação</p>
          <p class="productContent">O objetivo é formar profissionais capazes de atuar na área de Tecnologia da Informação, criando práticas tecnológicas para determinar o fluxo de informações com o desenvolvimento de software e no gerenciamento de sistemas informatizados.</p>
          <input type="button" name="button" value="Saiba Mais" class="Button">
        </article>
		  
      </div>
		

    </section>
	  <!--FIM DO CONTEUDO -->
{% endblock %}